<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">
        
         <!-- 这个地方要进行事务管理的配置  -->
  <!-- 配置容器已经提供好的事务管理器 -->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  	<property name="dataSource" ref="dataSource"></property>
  </bean>
  <!--编写通知  -->
  <tx:advice transaction-manager="transactionManager" id="tx">
  	<tx:attributes>
  		<tx:method name="save*" propagation="REQUIRED"/>
  		<tx:method name="insert*" propagation="REQUIRED"/>
  		<tx:method name="update*" propagation="REQUIRED"/>
  		<tx:method name="delete*" propagation="REQUIRED"/>
  		<tx:method name="edit*" propagation="REQUIRED"/>
  		<tx:method name="get*" propagation="NOT_SUPPORTED" read-only="true"/>
  		<tx:method name="select*" propagation="NOT_SUPPORTED" read-only="true"/>
  		<tx:method name="find*" propagation="NOT_SUPPORTED" read-only="true"/>
  		<tx:method name="*" propagation="REQUIRED"/>
  	</tx:attributes>
  </tx:advice>
  <!--使用aop编程来进行通知的切入  -->
  <aop:config>
    <aop:pointcut expression="execution(* com.edu.service..*.*(..))" id="pt"/>
  	<aop:advisor advice-ref="tx" pointcut-ref="pt"/>
  </aop:config>
  
  
</beans> 